<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openSearch()" [attr.aria-label]="Search">
        <ion-icon name="search" slot="icon-only" aria-hidden="true"></ion-icon>
      </ion-button>
      <ion-button (click)="openSearch()" [attr.aria-label]="Search" tabindex="0">
        <ion-icon name="search" slot="icon-only" aria-hidden="true"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
